<meta name="viewport" content="width=device-width, initial-scale=1.0">

h3{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic, bold;
    color: darkblue;
    font-size: large;
    margin: 5px 10px 5px 10px;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic, bold;
    color: darkblue;
    font-size: large;
    margin: 5px 10px 5px 10px;
}


#Div1{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic, bold ;
    background-color: grey;

}

#Div2{
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    background-color: lightgoldenrodyellow;
    font-weight: bold;
}

#EmptyTag{
    font-family: 'Courier New', Courier, monospace;
    color: maroon;
    font-weight: bold;
}

#Div3 {
    border: 1px solid purple;
    box-sizing: border-box;
    height: 250px;
    margin: 5px 3px 2px 7px;
    padding: 4px 3px 2px;
    width: 400px;
  }

.paragraph{
    column-count: 3;
    column-rule-style: dotted;
    column-rule-width: 1;
}